html,
body {
  overflow-x: hidden;
}

/////////////ファーストビュー
main {
  font-family: #{$body-font};
}
.content01 {
  position: relative;
  width: 100%;
  max-width: none;
  margin: 0;
}

.content01 img {
  width: 50%;
  height: auto;
  display: block;
}

.firstview_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); //中央に配置
  text-align: center;
  color: white;
  z-index: 1;
}

.section_title {
  white-space: nowrap;
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-size: 20px;
  margin: 8px 0 0;
}

//////////ファーストビューレスポンシブ///////
@media (max-width: 768px) {
  .concept {
    padding: 40px 20px;
  }

  .concept-title h2 {
    font-size: 28px;
  }

  .concept-img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .concept-text p {
    font-size: 18px;
  }

  .section_title {
    font-size: 26px !important;
    white-space: nowrap;
  }

  .subtitle {
    font-size: 16px;
  }
}

///////////////////コンセプト説明/////////////
.concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 84px;
}
.concept-img {
  padding: 40px;
  border-radius: 5px;
  overflow: hidden; //はみ出した部分をカットする
  width: 763px;
  height: 763px;
}

.concept-title {
  padding: 62px;
  h2 {
    font-size: clamp(20px, 4vw, 48px);
    white-space: nowrap;
    color: $heading-color;
    border-bottom: 4px solid $heading-color;
  }
}

.concept-text {
  white-space: normal;
  word-break: break-word;

  font-size: 24px;
}
////////////コンセプト説明レスポンシブ////////////////
@media (max-width: 768px) {
  .concept {
    padding: 50px 50px;
  }

  .concept-title h2 {
    font-size: 22px;
    text-align: center;
    white-space: nowrap;
  }

  .concept-img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .concept-text p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: -30px;
    text-align: center;
  }
}
//////////////施設紹介////////////
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 48px;
  color: $text-color;
  margin-top: 130px;
}

//デコレーションライン
.about-line {
  width: 250px;
  height: 35px;
  margin-bottom: 48px;
}

.about-line img {
  width: 100%;
  height: 100%;
  display: block;
}

//施設紹介内容

//露天風呂とお食事処
html,
body {
  margin: 0;
  padding: 0;
}
.about-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-title {
  color: $frametext-color;
  font-size: 48px;
  font-weight: 500;
}
.about-img {
  position: relative;
  width: 100%;
  height: 447px;
  // overflow: hidden;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.frame-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 572px;
  height: 248px;
  background-color: $framebg-color;
  padding: 50px;
  box-sizing: border-box;
  // z-index: 10;
  opacity: 0.9;
  text-align: center;
}

.frame-text h3 {
  margin: 0 0 10px;
  font-size: 28px;
  color: $text-color;
  font-weight: 500;
}

.frame-text p {
  margin: 0;
  font-size: 20px;
  color: $frametext-color;
  font-weight: 500;
}

//温浴施設
.frameleft-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 572px;
  height: 248px;
  background-color: $framebg-color;
  padding: 50px;
  box-sizing: border-box;
  // z-index: 10;
  opacity: 0.9;
  text-align: center;
}

.frameleft-text h3 {
  margin: 0 0 10px;
  font-size: 28px;
  color: $text-color;
  font-weight: 500;
}

.frameleft-text p {
  margin: 0;
  font-size: 20px;
  color: $frametext-color;
  font-weight: 500;
}
////////////施設紹介レスポンシブ//////////////////
@media screen and (max-width: 768px) {
  //デコレーションライン
  .about-line {
    width: 145px;
    height: 15px;
    margin-bottom: 48px;
  }

  //施設紹介
  .about-title {
    font-size: 22px;
  }
  //波のimg
  .about-img {
    height: 250px;
  }

  .frame-text,
  .frameleft-text {
    width: 100%;
    max-width: 100%;
    height: 50%;
    padding: 20px;
    left: 0;
  }

  .frame-text h3,
  .frameleft-text h3 {
    font-size: 18px;
    font-weight: 450;
  }

  .frame-text p,
  .frameleft-text p {
    font-size: 14px;
    font-weight: 300;
  }
} ///////////////温泉紹介///////////
.onsen-title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  color: $frametext-color;
  margin-top: 130px;
}

// デコレーションライン
.onsen-line {
  display: flex;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 0 auto 48px;
  margin-bottom: 56px;
}

.onsen-line img {
  width: 100%;
  height: 100%;
}

.onsen-intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.onsen-items {
  display: flex;
  flex-wrap: wrap;
  gap: 53px;
  justify-content: center;
}

.onsen-item {
  text-align: center;
  width: calc(50% - 27px); //小要素を二つ横に並べる
}

.onsen-img img {
  width: 524px;
  height: 376px;
  display: block;
  object-fit: cover;
  margin-bottom: 50px;
}

.onsen-img02 img {
  width: 524px;
  height: 376px;
  display: block;
  object-fit: cover;
  margin-bottom: 50px;
}

.onsen-text {
  margin-top: 10px;
  font-size: 16px;
  color: $heading-color;
  line-height: 1.6;
}

.onsen-subtitle {
  font-size: 24px;
  margin: 10px 0;
  margin-bottom: 30px;
  border-bottom: 3px solid $heading-color;
  display: block;
  width: fit-content;
  margin-bottom: 30px;
}

.onsen-subtitle {
  font-size: 32px;
  font-weight: 500;
  display: inline-block;
  color: $heading-color;
}

.onsen-text {
  font-size: 24px;
  font-weight: 500;
  color: $text-color;

  margin-top: 28px;
  line-height: 1.8;
}
////////////温泉紹介レスポンシブ/////////////////
@media screen and (max-width: 768px) {
  .onsen-items {
    flex-direction: column;
    gap: 30px;
  }

  .onsen-item {
    width: 100%;
    margin: 0 auto;
  }

  .onsen-img img,
  .onsen-img02 img {
    width: 100%;
    height: auto;
  }

  .onsen-subtitle {
    font-size: 24px;
  }

  .onsen-text {
    font-size: 16px;
  }
}
/////////////////////////お客様の声///////////////////////

.reviews {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 130px;
}

.reviews-header {
  margin-bottom: 48px;
}

.reviews-header h2.reviews-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 2px;
}

//デコレーションライン
.reviews-line {
  width: 355px;
  height: 35px;
  margin: 0 auto;
}

.reviews-line img {
  width: 100%;
  height: 100%;
  display: block;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  // flex-wrap: wrap;
}

.reviewswoman-item {
  background-color: $framebg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 450px;
  height: 470px;
  padding: 15px;
  text-align: center;
  // margin: 0 20px;
  margin: 0;
  padding: 15px;
  border: 1px solid hwb(0 51% 49%);
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 4px 4px 10px gray;
}

.reviewswoman-item .reviewswoman-img {
  width: 100%;
  max-width: 580px;
  box-sizing: border-box;
}

//イラスト屋の男性の画像
.reviewsman-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: contain;
  max-height: 200px;
}
//イラスト屋の女性の画像
.reviewswoman-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: contain;
  max-height: 200px;
}

.reviewswoman-img {
  width: 100%;
  max-width: 355px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}

.reviews-text p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0px;
}

.reviews-space {
  display: block;
  margin-top: 10px;
}

//////////お客様の声レスポンシブ///////////
@media screen and (max-width: 768px) {
  .reviews-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .reviewswoman-item {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .reviewswoman-img,
  .reviewsman-img img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  .reviews-text p {
    font-size: 16px;
    margin: 15px 0;
  }
}
